<!DOCTYPE html>
<html>
<script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
<body>

<canvas id="myCanvas" width="500" height="500" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.</canvas>

<script>
const socket = io("/");

var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.beginPath();
ctx.lineWidth = 10
ctx.lineTo(200,200);
ctx.stroke();
// ctx.fill()

socket.on('coordinate', (coordinate) => {
    console.log(coordinate[0])
    ctx.clearRect(0,0,500,500);
    ctx.beginPath();
    ctx.arc(coordinate[0][0]*100, 500-coordinate[0][1]*100, 5, 0, 2 * Math.PI);
    ctx.stroke();
    ctx.fill()
})



</script> 

</body>
</html>
